<input
  type="text"
  class="w-[40%] p-2 border-black border-solid border-[1px]"
  [(ngModel)]="videoSrc"
  (ngModelChange)="onSrcInputChange()"
  name="srcInput"
/>

<ng-template [ngIf]="showLoading">
  <app-loading></app-loading>
</ng-template>
<ng-template [ngIf]="showVideoDetails">
  <app-video-details [videoInfo]="videoInfo"></app-video-details>
</ng-template>
<ng-template [ngIf]="showError"><app-error></app-error></ng-template>
<ng-template [ngIf]="showDownload"><app-download></app-download></ng-template>
